@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: rgba(136, 136, 136, 0.781);
  backdrop-filter: blur(20px);
}
.audio {
  width: 380px;
  height: 650px;

  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  box-shadow: 1px 1px 15px #535252;
}
.audio::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 1;
  right: 0;
  bottom: 0;
}
.audio__content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.audio__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.header__logo {
  font-size: 25px;
}
.bi-music-note-list {
  font-size: 20px;
  cursor: pointer;
}

.audio__img {
  width: 230px;
  height: 230px;
  background-color: transparent;
  margin: auto;
  border-radius: 45pc;
  margin-top: 20px;
  border: 10px solid #ffffff9d;
  transition: 0.2s;
  animation: animation-img 10s infinite alternate;
  animation-play-state: paused;
}

.audio__img.active {
  animation: animation-img 10s infinite alternate;
}

.audio__img img {
  width: 100%;
  height: 100%;
  border-radius: 45pc;
}

.audio__author {
  text-align: center;
  padding: 15px 0;
  transition: 0.2s;
}
.progressbar {
  width: 100%;
  height: 7px;
  margin-top: 15px;
  background-color: #555555b4;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.progress {
  width: 0%;
  height: 100%;
  background-color: #ffffff9d;
  border-radius: 3px;
  position: relative;
}
.progress::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #b1b2b3;
  border-radius: 45pc;
  top: -50%;
  right: 0%;
  transform: translateX(50%);
  z-index: 3;
}
#progress-slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-40%);
  opacity: 0;
}
.progress__duration {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.audio__buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  position: relative;
  gap: 15px;
}
.audio__button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.4s;

}
.audio__button.passive{

  background-color: transparent;
  border: 1px solid #fff;
  color: rgba(255, 255, 255, 0.499);
}
.audio__button.active{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.action-show {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  color: #fff;
  justify-content: start;
  width: 70%;
  gap: 10px;
  cursor: pointer;
  position: relative;
  float: left;
  text-align: left;
}
.audio__content.active .action-show .buttons__img {
  width: 50px;
  height: 50px;
}
.audio__content.active .action-show .buttons__img img {
  width: 100%;
  height: 100%;
}
.action-show .audio__author {
  text-align: left;
}
.action-show .audio__author h1 {
  font-size: 18px;
}
/* Action class Style  */
.audio__content .active__btns {
  transition: 0.5s;
  display: flex;
  gap: 15px;
}

.audio__content.active .audio__button.action {
  transform: scale(0);
  display: none;
}
.audio__content.active .active__btns {
  position: absolute;
  right: -10px;
  display: flex;
  gap: 10px;
}
.audio__content.active .active__btns .audio__button {
  width: 40px;
  height: 40px;
  font-size: 17px;
}

.audio__content.active .audio__buttons {
  margin: 10px;
}
.audio__content.active .progress__content {
  transform: translateY(10px);
  visibility: hidden;
  opacity: 0;
}
.audio__content.active .audio__author {
  transform: translateY(30px);
  visibility: hidden;
  opacity: 0;
}
.audio__content.active .audio__img {
  transform: scale(0.3);
  visibility: hidden;
  opacity: 0;
}
.audio__content.active .action-show .audio__author {
  font-size: 18px;
  transform: translateY(00px);
  visibility: visible;
  opacity: 1;
}
.audio__content.active .action-show .audio__author p {
  font-size: 15px;
}

/* Animations */

/* Animation Image */
@keyframes animation-img {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.01);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1.015);
  }
  40% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.06);
  }
  60% {
    transform: scale(1.03);
  }
  70% {
    transform: scale(1.04);
  }
  80% {
    transform: scale(1.02);
  }
  90% {
    transform: scale(1.022);
  }
  100% {
    transform: scale(1.035);
  }
}

/* Media Style Start 465px */

@media (max-width: 465px) {
  .audio {
    height: 550px;
  }
  .audio__img {
    width: 180px;
    height: 180px;
  }

  .audio__author h1 {
    font-size: 25px;
  }
  .audio__content.active .action-show .buttons__img {
    width: 40px;
    height: 40px;
  }

  .action-show .audio__author h1 {
    font-size: 16px;
  }
}

/* Media Style Start 385px */
@media (max-width: 385px) {
  .audio__buttons {
    justify-content: center;
  }
  .audio__button {
    width: 40px;
    height: 40px;
  }
  .audio__content.active .audio__buttons {
    justify-content: start;
  }
  .audio__content.active .audio__buttons .audio__button {
    width: 40px;
    height: 40px;
  }
}
